<!-- Template for tourney results -->
<html>
	<head>
		<title>Results</title>
	</head>
	<body>
		
		<h1>{{ $event := .Info.Event }}{{ $event }}</h1>
		<h2>Info</h2>

		<!-- Parameters -->
		<table>
			<tr>
				<th>Event</th>
				<td>{{ $event }}</td>
			</tr>
			<tr>
				<th>Site</th>
				<td>{{ .Info.Site }}</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>{{.Info.Date}}</td>
			</tr>
		<table>

		<!-- Time Control -->
		<table>
			<tr>
				<th>Moves</th>
				<td>{{.Info.Moves}}</td>
			</tr>
			<tr>
				<th>Time</th>
				<td>{{.Info.Time}}</td>
			</tr>
			<tr>
				<th>Bonus Time</th>
				<td>{{.Info.BonusTime}}</td>
			</tr>
			<tr>
				<th>Repeating</th>
				<td>{{.Info.Repeating}}</td>
			</tr>
		</table>

		<!-- Results -->
		<h2>Results</h2>
		<table>
			<tr>
				<th>Engine</th>
				<th>W-L-D</th>
				<th>Incomplete</th>
				<th>Score</th>
				<th>Win %</th>
			</tr>

			{{ range .EngineRecords }}
			<tr>
				<td>{{ .Player.Name }}</td>
				<td>{{ .Wins }}-{{ .Losses }}-{{ .Draws }}</td>
				<td>{{ .Incomplete }}</td>
				<td><script>
						var score = {{.Wins}} + ({{.Draws}}*0.5);
						document.write(score);
					</script>
				</td>
				<td><script>
						var games_played = {{.Wins}} + {{.Losses}} + {{.Draws}};
						if(games_played>0){
							document.write( Math.round((score/games_played)*10000)/100 );
						} else {
							document.write("-");
						}
						document.write("%")
					</script>
				</td>
			</tr>
			{{ end }}
		</table>

		<!-- Matchups -->
		<h2>Matchup Overview</h2>
		<table>
			<tr>
				<th>Engine</th>
				<th>Opponent</th>
				<th>W-L-D</th>
				<th>Score</th>
				<th>Win %</th>
			</tr>

			{{ range .MatchupRecords }}
			<tr>
				<td>{{ .Player.Name }}</td>
				<td>{{ .Opponent.Name }}</td>
				<td>{{ .Wins }}-{{ .Losses }}-{{ .Draws }}</td>
				<td><script>
						var score = {{.Wins}} + ({{.Draws}}*0.5);
						document.write(score);
					</script>
				</td>
				<td><script>
						var games_played = {{.Wins}} + {{.Losses}} + {{.Draws}};
						if(games_played>0){
							document.write( Math.round((score/games_played)*10000)/100 );
						} else {
							document.write("-");
						}
						document.write("%")
					</script>
				</td>
			</tr>
			{{ end }}
		</table>

		<!-- Game List -->
		<h2>Game History</h2>
		<table>
			<tr>
				<th>Round</th>
				<th>White</th>
				<th>Black</th>
				<th>Result</th>
				<th>Ending Condition</th>
				<th>View</th>
				<th>Details</th>
				<th>Log</th>
				<th>Worker</th>
			</tr>
			{{ range .Info.GameList }}
			<tr>
				<td>{{ .Round }}</a></td>
				<td>{{ (index .Player 0).Name }}</td>
				<td>{{ (index .Player 1).Name }}</td>
				<script>if({{.Completed}}) {
						document.write('<td>');
						document.write(["1-0","0-1","1/2-1/2"][{{ .Result }}]);
						document.write('</td><td>{{ .ResultDetail }}</td><td><a href="viewer/{{ .Round }}">View</a></td><td><a href="round/{{ .Round }}">Details</a></td><td><a href="logs/{{ $event }} round {{ .Round }}.log">Log</a></td>');
					} else {
						document.write('<td></td><td></td><td></td><td></td><td></td>');
					}
				</script>
				<td>{{ .Site }}</td>
			</tr>
			{{ end }}
		</table>

	</body>
</html>