<!-- Template for tourney results -->
<html>
	<head>
		<title>Results</title>
	</head>
	<body>
		
		<h1>{{ .Info.Event }}</h1>
		<h2>Info</h2>

		<!-- Parameters -->
		<table>
			<tr>
				<th>Event</th>
				<td>{{ .Info.Event }}</td>
			</tr>
			<tr>
				<th>Site</th>
				<td>{{ .Info.Site }}</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>{{.Info.Date}}</td>
			</tr>
		<table>

		<!-- Time Control -->
		<table>
			<tr>
				<th>Moves</th>
				<td>{{.Info.Moves}}</td>
			</tr>
			<tr>
				<th>Time</th>
				<td>{{.Info.Time}}</td>
			</tr>
			<tr>
				<th>Bonus Time</th>
				<td>{{.Info.BonusTime}}</td>
			</tr>
			<tr>
				<th>Repeating</th>
				<td>{{.Info.Repeating}}</td>
			</tr>
		</table>

		<!-- Results -->
		<h2>Results</h2>
		<table>
			<tr>
				<th>Engine</th>
				<th>W-L-D</th>
				<th>Incomplete</th>
				<th>Score</th>
				<th>Win %</th>
			</tr>

			{{ range .EngineRecords }}
			<tr>
				<td>{{ .Player.Name }}</td>
				<td>{{ .Wins }}-{{ .Losses }}-{{ .Draws }}</td>
				<td>{{ .Incomplete }}</td>
				<td></td>
				<td></td>
			</tr>
			{{ end }}
		</table>

		<!-- Matchups -->
		<h2>Matchups</h2>
		<table>
			<tr>
				<th>Engine</th>
				<th>Opponent</th>
				<th>W-L-D</th>
				<th>Score</th>
				<th>Win %</th>
			</tr>

			{{ range .MatchupRecords }}
			<tr>
				<td>{{ .Player.Name }}</td>
				<td>{{ .Opponent.Name }}</td>
				<td>{{ .Wins }}-{{ .Losses }}-{{ .Draws }}</td>
				<td>{{ .Incomplete }}</td>
				<td></td>
				<td></td>
			</tr>
			{{ end }}
		</table>

		<!-- Game List -->
		<h2>Game History</h2>
		<table>
			<tr>
				<th>Round</th>
				<th>White</th>
				<th>Black</th>
				<th>Result</th>
				<th>Condition</th>
			</tr>
			{{ range .Info.GameList }}
			<tr>
				<td><a href="round/{{ .Round }}">{{ .Round }}</a></td>
				<td>{{ (index .Player 0).Name }}</td>
				<td>{{ (index .Player 1).Name }}</td>
				<td>{{ .Result }}
				</td>
				<td>{{ .ResultDetail }}</td>
			</tr>
			{{ end }}
		</table>

	</body>
</html>