.clickable {
    cursor:pointer;
}


.table-fixed thead {
    width: 97%;
}

.table-fixed tbody {
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}

.table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
}
