@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);


html, body {
	font-family: Roboto, Helvetica;
	margin:0px;
	padding:0px;
	background-color: #282E3E;
	//background-color: #232937;
}
h1 {
	font-weight: 100;
	font-size: 28px;
	padding-top: 10px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	color: white;
}
.line {
	width: 100%;
	height: 1px;
	background-color: white;
}
h2 {
	margin-top:0px;
	padding-top:0px;
	font-weight: 100;
	font-size: 125%;
	color: #FADBA7;
}
h3 {
	//margin-top:0px;
	//padding-top:0px;
	font-weight: 100;
	font-size: 115%;
	//color: #FADBA7;
	color: white;
	border-bottom: 1px solid white;
	width: 40%;
}

h4 {
	font-weight: 100;
	font-size: 90%;
	color: white;
}

a {
	color: #CCC;
	text-shadow: 1px 1px 5px #2D3440;
}
#title {
	float: left;
	min-width: 40%;
}
#content {
	clear: both;
}
#topbar {
	padding-top: 10px;
	height: 150px;
}
#menu {
	margin-top: 15px;
	text-align: right;
	float: right;
	top: 0px;
	right: 0px;
	margin-bottom: 15px;
}
#menu a {
	font-size: 16px;
	font-weight: 200;
	text-decoration: none;
}
.menu_link {
	margin-bottom: 5px;
}
#submenu {
	margin-top: 10px;
	color: white;
	font-size: 80%;
}
.icon {
	width:16px;
	height:16px;
	margin-left: 10px;
	filter: invert(80%);
	-webkit-filter: invert(80%);
	position: relative;
	//bottom: -5px;
	
}
#main {
	width: 800px;
	//height: 100%;
	background: #232937;
	padding-left:20px;
	padding-right:20px;
	margin: auto;
	margin-top:0px;
	margin-bottom:0px;
	min-height: 100%;
	padding-bottom: 20px;
}

#footer {
	text-align: center;
	//border-top: 2px solid #535863;
	//border-top: 1px solid white;
	//padding-top: 20px;
	font-size: 10px;
	color: #777;
	//background: #282E3E;
	background-color: #2D3440;
	width:800px;
	margin-left:auto;
	margin-right:auto;
	//margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #535863;
}
#footer a  {
	color: #777;
}
.tourneylogo {
	position: relative;
	top:12px;
	width: 30px;
	height: 30px;
	filter: invert(50%);
	-webkit-filter: invert(50%);
}

/*
	Table Style:
*/

.google-visualization-table {
	border: inherit;
	width: 100%;
}
.google-visualization-table-table th, .google-visualization-table-table td{ 
	border: inherit;
	border-bottom: 1px solid #535863;
}

table {
	border-collapse: collapse;
}
td, th {
	padding-left: 15px;
	padding-right: 15px;
}

.trClass {
	//background: #3C4457;
	background-color: #2D3440;
	color: white;
	font-size: 8pt;
}
.trOddClass {
	background-color: #2D3440;
	color: white;
	font-size: 8pt;
}
.trSelectedClass {
	background: #999DA7;
}
.trHoverClass {
	background: #999DA7;
}
.tdClass {
	height: 30px;
	//border-bottom: 1px solid #999DA7;
	border-bottom: 1px solid #535863;
}
.thClass {
	background: none;
	//background-color: #282E3E;
	background-color: #333946;
	//border-top: 1px solid #333845;
	//border-bottom: 1px solid #999DA7;
	border-bottom: 1px solid #535863;
	color: #999DA7;
	font-weight: 500;
	font-size: 8pt;
	height: 30px;
	text-align: center;
}

