<div id="footer">
	<div style="display: inline-block;width:125px;">
		<a href="http://www.dirty-bit.com/tourney">tourney</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://github.com/andrewbackes/tourney">github</a>
	</div>
	<a href="http://www.dirty-bit.com/tourney"><img src="resources/tourney.png" class="tourneylogo"></a>
	<div style="display: inline-block;width:125px;">
		<a href="http://www.dirty-bit.com/tourney/features.html">about</a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.dirty-bit.com/tourney/support.html">support</a>
	</div>
	<!-- <div id="footermenu"><a href="">tourney</a> | <a href="">github</a> | <a href="">help</a></div> -->
</div>