<div id="topbar">
	<div id="title">
		<h1>{{ .Event }}</h1>
		<div class="line"></div>
		<h2><script> document.write(title); </script></h2>
	</div>
	<div id="menu">
		<div class="menu_link">
			<a href="view?display=standings">Standings</a><img src="resources/open-iconic/svg/people.svg" class="icon" style="bottom:0px;">
		</div>
		<div class="menu_link">
			<a href="view?display=gamelist">Game History</a><img src="resources/open-iconic/svg/list.svg" class="icon"><br>
		</div>
		<div class="menu_link">
			<a href="view?display=game&round=1">Watch Games</a><img src="resources/open-iconic/svg/eye.svg" class="icon"><br>
		</div>
		<!--
		<img src="resources/open-iconic/svg/terminal.svg" class="icon"><a href="console">Console</a>
		-->
	</div>
</div>