<!-- Template for tourney game history -->
<html>
	<head>
		{{ $event := .Event }}
		<title>Game History</title>
		<script>
			var title = "Game History";
			var eventTitle = "{{ .Event }}";
		</script>
		<link href="resources/style.css" rel="stylesheet" type="text/css">
		<style>
			#table_div {
				width: 800px;
				height: calc(100% - 175px);
				clear: both;
			}
			table {
				width: 100%;
				height: 100%;
			}
		</style>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	    <script type="text/javascript">
	      google.load("visualization", "1", {packages:["table"]});
	      google.setOnLoadCallback(drawTable);

	      function drawTable() {
	        var data = new google.visualization.DataTable();
	        data.addColumn('number', 'ROUND');
	        data.addColumn('string', 'WHITE');
	        data.addColumn('string', 'BLACK');
	        data.addColumn('string', 'RESULT');
	        data.addColumn('string', 'ENDING CONDITION');
	        data.addColumn('string', 'VIEW');
	        data.addColumn('string', 'DETAILS');
	        data.addColumn('string', 'LOG');
	        data.addColumn('string', 'LOCATION');
			var cssClassNamesObj = {
		        	tableRow: 'trClass',
		        	oddTableRow: 'trOddClass',
		        	selectedTableRow: 'trSelectedClass',
		        	hoverTableRow: 'trHoverClass',
		        	tableCell: 'tdClass',
		        	headerCell: 'thClass'
				};

			{{ range .GameList }}

	        {
		        var result = "", ending = "", view = "", details = "", log = "";
		        var worker = "{{ .Site }}";
		        if({{.Completed}} || ({{ .ResultDetail }}!="") ) {
		        	result = ["1-0","0-1","1/2-1/2"][{{ .Result }}];
		        	ending = '{{ .ResultDetail }}';
		        	view = '<a href="view?display=game&round={{ .Round }}">Watch</a>';
		        	details = '<a href="view?display=round&round={{ .Round }}">Details</a>';
		        	log = '<a href="logs/{{ $event }} round {{ .Round }}.log">Log</a>';
				}
				data.addRows([ [ {{ .Round }}, '{{ (index .Player 0).Name }}', '{{ (index .Player 1).Name }}', result, ending, view, details, log, worker ] ]);
			}
			{{ end }}
			var options = {
				showRowNumber: false,
				allowHtml: true,
				cssClassNames: cssClassNamesObj
			};
	        
	        var table = new google.visualization.Table(document.getElementById('table_div'));

	        table.draw(data, options);
	      }
	    </script>
	</head>
	<body>
		<div id="main">

			{{ template "_header.html" . }}

			<div id="table_div"></div>

		</div>
		{{ template "_footer.html" . }}
	</body>
</html>