<!-- Template for tourney game history -->
<html>
	<head>
		{{ $event := .Event }}
		<title>Game History</title>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	    <script type="text/javascript">
	      google.load("visualization", "1", {packages:["table"]});
	      google.setOnLoadCallback(drawTable);

	      function drawTable() {
	        var data = new google.visualization.DataTable();
	        data.addColumn('number', 'Round');
	        data.addColumn('string', 'White');
	        data.addColumn('string', 'Black');
	        data.addColumn('string', 'Result');
	        data.addColumn('string', 'Ending Condition');
	        data.addColumn('string', 'View');
	        data.addColumn('string', 'Details');
	        data.addColumn('string', 'Log');
	        data.addColumn('string', 'Worker');
			{{ range .GameList }}

	        {
		        var result = "", ending = "", view = "", details = "", log = "";
		        var worker = "{{ .Site }}";
		        if({{.Completed}} || ({{ .ResultDetail }}!="") ) {
		        	result = ["1-0","0-1","1/2-1/2"][{{ .Result }}];
		        	ending = '{{ .ResultDetail }}';
		        	view = '<a href="../viewer/{{ .Round }}">View</a>';
		        	details = '<a href="../round/{{ .Round }}">Details</a>';
		        	log = '<a href="../logs/{{ $event }} round {{ .Round }}.log">Log</a>';
				}
				data.addRows([ [ {{ .Round }}, '{{ (index .Player 0).Name }}', '{{ (index .Player 1).Name }}', result, ending, view, details, log, worker ] ]);
			}
			{{ end }}

	        
	        var table = new google.visualization.Table(document.getElementById('table_div'));

	        table.draw(data, {allowHtml: true, showRowNumber: false});
	      }
	    </script>
	</head>
	<body>
		
		<h1>{{ $event }}</h1>

		<h2>Game History</h2>

		<div id="table_div"></div>

	</body>
</html>