<!-- Template for ply summary -->
<html>
	<head>
		<title>Ply Details</title>
	</head>
	<body>
		<h1>Ply Details</h1>
		<h2></h2>
		<table>
			<tr>
				<th>Move</th>
				<td></td>
			</tr>
			<tr>
				<th>Ponder Move</th>
				<td>{{ .Ponder }}</td>
			</tr>
			<tr>
				<th>Comment</th>
				<td>{{ .Comment }}</td>
			</tr>
		</table>
		<h2>Evaluation Output</h2>
		<table>
			<tr>
				<th>Depth</th>
				<th>SelDepth</th>
				<th>Score</th>
				<th>Bound</th>
				<th>Time</th>
				<th>Nodes</th>
				<th>Pv</th>
			</tr>
			{{ range .Evaluation }}
			<tr>
				<td>{{ .Depth }}</td>
				<td>{{ .Seldepth }}</td>
				<td>{{ .Score }}</td>
				<td><script> 
					if({{.Lowerbound}}==true)
						{document.write("Lower");}
					else if({{.Upperbound}}==true)
						{document.write("Upper");} 
				</script></td>
				<td>{{ .Time }}</td>
				<td>{{ .Nodes }}</td>
				<td>{{ .Pv }}</td>
			</tr>
			{{ end }}
		</table>
	</body>
</html>