<!-- Template for tourney results -->
<html>
	<head>
		<title>Standings</title>
		<script> var title="Standings"; var eventTitle = "{{ .Event }}"; </script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		{{ $s := .PlayerStandings }}
		<script>
			google.load("visualization", "1", {packages:["corechart"]});
			var colors = {
				/* [ '', '', '', '', ''], */
				'pastels':   	[ '872187', '2966B8', '23819C', '59955C', '62A9FF', 'DFE32D' ],
				'gray':  		[ '212121', '757575', '424242', '9E9E9E', '616161' ],
				'blue_gray': 	[ '78909C', '546E7A', '607D8B', '455A64', '37474F' ],
				'purple': 		[ '6A1B9A', '7B1FA2', '8E24AA', '9C27B0', 'AB47BC' ],
				'deep_purple':  [ '4527A0', '673AB7', '512DA8', '7E57C2', '5E35B1' ],
				'green': 		[ '9CCC65', '558B2F', '8BC34A', '689F38', '7CB342' ],
				'indigo': 		[ '5C6BC0', '303F9F', '3949AB', '3F51B5', '283593' ],
				'teal':   		[ '004D40', '00897B', '00695C', '009688', '00796B' ],
				'themed':   	[ '282E3E', '2D3440', '535863', '333946'],
			}
			var options = {
				title: 'Win',
				pieHole: 0.4,
				backgroundColor: '#232937',
				colors: colors["themed"],
				titleTextStyle: { 
					color: 'white',
					fontName: 'Roboto',
					fontSize: 10,
				},
				legend: {
					position: 'none',
					textStyle: { color: 'white' }
				},
				chartArea:{left:"5%",top:"5%",width:'90%',height:'90%'},
			};
			var overall_win_data = [
				['Condition', 'Count'],
				{{ range $cond, $count := .PlayerStandings.OverallStats.WinningConditionCount }}
				[ '{{ $cond }}', {{ $count }} ],
				{{ end }}
			];
			var overall_draw_data = [
				['Condition', 'Count'],
				{{ range $cond, $count := .PlayerStandings.OverallStats.DrawConditionCount }}
				[ '{{ $cond }}', {{ $count }} ],
				{{ end }}
			];

			function drawPieCharts() {
				var elem = document.getElementById('overall_wins');
				var container = elem.parentElement.parentElement;
				var overall_win_chart = new google.visualization.PieChart(elem);
				if(overall_win_data.length > 1) {
					overall_win_chart.draw(google.visualization.arrayToDataTable(overall_win_data), options);
				} else {
					container.style.height = "200px";
					elem.parentElement.remove();
				}
				elem = document.getElementById('overall_draws');
				var overall_draw_chart = new google.visualization.PieChart(elem);
				if(overall_draw_data.length > 1) {
					overall_draw_chart.draw(google.visualization.arrayToDataTable(overall_draw_data), options);
				} else {
					container.style.height = "200px";
					elem.parentElement.remove();
				}
				var tbl = document.getElementById('overall_table');
				if(tbl.offsetHeight < (container.offsetHeight/2)) {
					container.style.width = "450px";
					container.style.height = "200px";
				}
			}
			google.setOnLoadCallback(drawPieCharts);

		</script>
		<link href="resources/style.css" rel="stylesheet" type="text/css">
		<style>
			#info {
				display: flex;
			}
			#infolocal {
				flex-grow: 0;
			}
			#infocontrol {
				flex-grow: 0;
			}
			#infobook {
				flex-grow: 0;
			}
			.matchup {
				margin-left: 20px;
			}
		</style>
	</head>
	<body>
		<div id="main">
			{{ template "_header.html" . }}
			{{ $event := .Event }}
			<div id="content">
				<div id="info">
					<div id="infolocal">
						<table>
							<tr>
								<th>Event</th>
								<td>{{ $event }}</td>
							</tr>
							<tr>
								<th>Site</th>
								<td>{{ .Site }}</td>
							</tr>
							<tr>
								<th>Date</th>
								<td>{{.Date}}</td>
							</tr>
						</table>
					</div>
					<div id="infocontrol">
						<table>
							<tr>
								<th>Moves per Control</th>
								<td>{{.Moves}}</td>
							</tr>
							<tr>
								<th>Time</th>
								<td>{{.Time}}ms</td>
							</tr>
							<tr>
								<th>Bonus Time</th>
								<td>+{{.BonusTime}}</td>
							</tr>
						</table>
					</div>
					<div id="infobook">
						<table>
							<tr>
								<th>Book Moves</th>
								<td>{{.BookMoves}}</td>
							</tr>
							<tr>
								<th>Randomized</th>
								<td>{{.RandomBook}}</td>
							</tr>
							<tr>
								<th>Repeating</th>
								<td>{{.Repeating}}</td>
							</tr>
						</table>
					</div>
				</div>
				<div id="overall_standings">
					<!-- Standings -->
					<h3>Overall</h3>
					<div>
						<table style="display: inline-block;vertical-align: top;" id="overall_table">
							<tr>
								<th>#</th>
								<th>Engine</th>
								<th>W-L-D</th>
								<th>Incomplete</th>
								<th>Score</th>
								<th>Played</th>
								<th>Win %</th>
							</tr>
							{{ range $i, $v := .PlayerStandings.OverallStandings }}
							<tr>
								<td><script> document.write({{$i}}+1);</script></td>
								<td>{{ .Name }}</td>
								<td>{{ .Wins }}-{{ .Losses }}-{{ .Draws }}</td>
								<td>{{ .Incomplete }}</td>
								<td>{{ .Score }}</td>
								<td>{{.TotalGames}}</td>
								<td>{{ .Rate }}%</td>
							</tr>
							{{ end }}
						</table>
						<div class="chart_container" style="margin-left: 20px;width: 200px; height: 400px;display: inline-block;vertical-align: top;">
						<div style="position: relative; display: inline-block;">
							<div id="overall_wins" style="width: 200px; height: 200px;display: inline-block;"></div>
							<div style="position: absolute; top: 90px; left: 80px; z-index: 100;color:white;">WINS</div>
						</div>
						<div style="position: relative; display: inline-block;">
							<div id="overall_draws" style="width: 200px; height: 200px;display: inline-block;"></div>
							<div style="position: absolute; top: 90px; left: 72px; z-index: 100;color:white;">DRAWS</div>
						</div>
					</div>
					</div>
				</div>
				<div id="matchups">
					<!-- Matchups -->
					<h3>Matchups</h3>
					{{ range $i, $player := .PlayerStandings.Players }}
					<h4><script> document.write({{$i}}+1);</script>. {{$player}} (vs)</h4>
					<table class="matchup">
						<tr>
							<th>#</th>
							<th>Engine</th>
							<th>W-L-D</th>
							<th>Incomplete</th>
							<th>Score</th>
							<th>Played</th>
							<th>Win %</th>
						</tr>
						 {{ range $j, $record := $.PlayerStandings.MatchupStandings $player }}
						<tr>
							<td><script> document.write({{$j}}+1);</script></td>
							<td>{{ .Name }}</td>
							<td>{{ .Wins }}-{{ .Losses }}-{{ .Draws }}</td>
							<td>{{ .Incomplete }}</td>
							<td>{{ .Score }}</td>
							<td>{{.TotalGames}}</td>
							<td>{{ .Rate }}%</td>
						</tr>
						{{ end }}
					</table>
					{{ end }}
				</div>
			</div>
		</div>
		{{ template "_footer.html" . }}
		<script type="text/javascript" src="resources/styletables.js"></script>
	</body>
</html>