<!-- Template for tourney results -->
<html>
	<head>
		<title>Standings</title>
	</head>
	<body>
		
		<h1>{{ $event := .Event }}{{ $event }} Standings</h1>
		<h2>Info</h2>

		<!-- Parameters -->
		<table>
			<tr>
				<th>Event</th>
				<td>{{ $event }}</td>
			</tr>
			<tr>
				<th>Site</th>
				<td>{{ .Site }}</td>
			</tr>
			<tr>
				<th>Date</th>
				<td>{{.Date}}</td>
			</tr>
		<table>

		<!-- Time Control -->
		<table>
			<tr>
				<th>Moves</th>
				<td>{{.Moves}}</td>
			</tr>
			<tr>
				<th>Time</th>
				<td>{{.Time}}</td>
			</tr>
			<tr>
				<th>Bonus Time</th>
				<td>{{.BonusTime}}</td>
			</tr>
			<tr>
				<th>Repeating</th>
				<td>{{.Repeating}}</td>
			</tr>
		</table>

		<!-- Standings -->
		<h2>Standings</h2>
		<table>
			<tr>
				<th>#</th>
				<th>Engine</th>
				<th>W-L-D</th>
				<th>Incomplete</th>
				<th>Score</th>
				<th>Played</th>
				<th>Win %</th>
			</tr>
			{{ range $i, $v := .PlayerStandings.OverallStandings }}
			<tr>
				<td><script> document.write({{$i}}+1);</script></td>
				<td>{{ .Name }}</td>
				<td>{{ .Wins }}-{{ .Losses }}-{{ .Draws }}</td>
				<td>{{ .Incomplete }}</td>
				<td>{{ .Score }}</td>
				<td>{{.TotalGames}}</td>
				<td>{{ .Rate }}%</td>
			</tr>
			{{ end }}
		</table>

		<!-- Matchups -->
		<h2>Matchup Standings</h2>
		{{ range $i, $player := .PlayerStandings.Players }}
		<h3><script> document.write({{$i}}+1);</script>. {{$player}} (vs)</h3>
		<table>
			<tr>
				<th>#</th>
				<th>Engine</th>
				<th>W-L-D</th>
				<th>Incomplete</th>
				<th>Score</th>
				<th>Played</th>
				<th>Win %</th>
			</tr>
			 {{ range $j, $record := $.PlayerStandings.MatchupStandings $player }}
			<tr>
				<td><script> document.write({{$j}}+1);</script></td>
				<td>{{ .Name }}</td>
				<td>{{ .Wins }}-{{ .Losses }}-{{ .Draws }}</td>
				<td>{{ .Incomplete }}</td>
				<td>{{ .Score }}</td>
				<td>{{.TotalGames}}</td>
				<td>{{ .Rate }}%</td>
			</tr>
			{{ end }}
		</table>
		{{ end }}
		<!-- Game List -->
		<h2>Game History</h2>
		<table>
			<tr>
				<th>Round</th>
				<th>White</th>
				<th>Black</th>
				<th>Result</th>
				<th>Ending Condition</th>
				<th>View</th>
				<th>Details</th>
				<th>Log</th>
				<th>Worker</th>
				<!-- <th>OpeningFEN</th> -->
			</tr>
			{{ range .GameList }}
			<tr>
				<td>{{ .Round }}</a></td>
				<td>{{ (index .Player 0).Name }}</td>
				<td>{{ (index .Player 1).Name }}</td>
				<script>if({{.Completed}} || ({{ .ResultDetail }}!="") ) {
						document.write('<td>');
						document.write(["1-0","0-1","1/2-1/2"][{{ .Result }}]);
						document.write('</td><td>{{ .ResultDetail }}</td><td><a href="viewer/{{ .Round }}">View</a></td><td><a href="round/{{ .Round }}">Details</a></td><td><a href="logs/{{ $event }} round {{ .Round }}.log">Log</a></td>');
					} else {
						document.write('<td></td><td></td><td></td><td></td><td></td>');
					}
				</script>
				<td>{{ .Site }}</td>
				<!-- <td>{{ .StartingFEN }}</td> -->
			</tr>
			{{ end }}
		</table>

	</body>
</html>