<html>
	<head>
		<title>Game Dashboard</title>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script>
			google.load('visualization', '1.0', {packages: ['line', 'corechart', 'bar', 'table']});
		</script>
		<style>
			#board_container {
				width: 352px; height: 350px; position: relative; background-color: black; border: black solid 2px; }
			#board {
				width: 336px;height:336px;position:absolute;left: 15px;top:0px;}
			.dark_square {
				width:40px;height:40px;border:black solid 1px; background-color:gray;  }
			.light_square {
				width:40px;height:40px;border:black solid 1px; background-color: white;   }

			.thClass {
				background: black;
				color: white;
				font-size: 8pt;
			}
			.trClass {
				background: black;
				color: white;
				font-size: 8pt;
				padding: 0;
				margin: 0;
			}
			.trOddClass {
				background: #003242;
				color: white;
				font-size: 8pt;
			}
			.trSelectedClass {
				background: #cedef3;
			}
			.trHoverClass {
				background: #cedef3;
			}
			.cellClass {
				border: 0;
			}
			.tdHeaderClass {
				background: none;
				background-color: #009bd0;
			}
		</style>
		<script>
			var color_blue = '#009bd0';
			var color_lblue = '#cedef3';
			var color_dblue = '#003242';
			var color_purple = '#993CF3';
			var color_orange = '#e89800';
			var color_green = '#7CBC2D';
			var color_gray = '#808080';
			var color_dgray = '#333';
			
			var time_color = ['white', color_green];
			var time_grid = color_dgray;

			var depth_color = ['white', color_orange];
			var depth_grid = color_dgray;
			
			var score_color = ['white', color_purple];
			var score_grid = color_dgray;

			var startingFEN = "rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1";

			var fens = [
				{{ range $i, $v := .History }} "{{$v}}",
				{{ end }}				
			];

			var game_data = [    
				['Ply', 'Move', 'Score', 'Time', 'Depth'],
				{{ range $i, $v := .MoveList }}{{ $analysis := (index $.AnalysisList $i) }} [{{$i}}, "{{$v}}",{{ $analysis.Score }},{{ $analysis.Time }},{{ $analysis.Depth }}],
				{{ end }}
			];

		/* ********************************************************************************

			POPULATE DATA VARIABLES:
		
		******************************************************************************** */

			var SCORE_BOUND = 1800;
			// Bound the scores so we don't have charts that overflow
			for( var i = 1; i < game_data.length; i++ ) {
				if (i % 2 == 0) {
					game_data[i][2] = -game_data[i][2];
				}
				if(game_data[i][2] > SCORE_BOUND) {
					game_data[i][2] = SCORE_BOUND;
				} else if (game_data[i][2] < -SCORE_BOUND) {
					game_data[i][2] = -SCORE_BOUND;
				}
			}

			var max_score=game_data[1][2];
			var max_time=game_data[1][3];
			var max_depth=game_data[1][4];

			var times =  [ ['Move#', 'White Time',  'Black Time'] ];
			var depths = [ ['Move#', 'White Depth', 'Black Depth'] ];
			var scores = [ ['Move#', "White Score", 'Black Score'] ];
			
			var j = 1;
			for( var i = 1; i < game_data.length-1; i+=2 ) {
				if(-game_data[i][2] > max_score) { max_score = -game_data[i][2]; }
				if(game_data[i+1][2] > max_score) { max_score = game_data[i+1][2]; }
				if(game_data[i][3] > max_time) { max_time = game_data[i][3]; }
				if(game_data[i+1][3] > max_time) { max_time = game_data[i+1][3]; }
				if(game_data[i][4] > max_depth) { max_depth = game_data[i][4]; }
				if(game_data[i+1][4] > max_depth) { max_depth = game_data[i+1][4]; }

				times.push( [ j, game_data[i][3]/1000, game_data[i+1][3]/1000 ]);
				depths.push( [ j, game_data[i][4], game_data[i+1][4] ]);
				scores.push( [ j, game_data[i][2], game_data[i+1][2] ]);
				j++;
			}
			var move_table_data = [    
				 ['Number', 'Move', 'Score', 'Time', 'Depth']
			];
			for( var i = 1; i < game_data.length; i++ ) {
				var number = game_data[i][0]/2 +1;
				var move = game_data[i][1];
				var player = 0;
				if(number%1 == 0.5) {
					player = 1;
					number="";
					move = "..." + move;
				}
				var style = "text-shadow: 1px 1px 4px #000000;";
				var score_pos = 'position:relative;left:45%;width:'+ ((game_data[i][2]/max_score)*45) +'%;';
				if (game_data[i][2] < 0) {
					score_pos = 'position:relative;left:'+(45-((-game_data[i][2]/max_score)*45))+'%;width:'+ ((-game_data[i][2]/max_score)*45) +'%;';
				}
				var score_div = '<div style="'+style+score_pos+'background:'+score_color[player] +';">'+game_data[i][2]+'</div>';
				var time_div = '<div style="'+style+'width:'+ ( (game_data[i][3]/(max_time*1.25))*100 ) +'%;background:'+time_color[player] +';">'+game_data[i][3]+'</div>';
				var depth_div = '<div style="'+style+'width:'+ ( (game_data[i][4]/(max_depth*1.25))*100 ) +'%;background:'+depth_color[player] +';">'+game_data[i][4]+'</div>';
				move_table_data.push([number,move,score_div,time_div,depth_div]);
			}

		/* ********************************************************************************

			BOARD DRAWING AND FEN COMPUTING:
		
		******************************************************************************** */			

			var pawn = new Array(2);
			pawn[0] = "<img src='pieces/piece11.png' class='piece' style='width:24px;height:32px; position:relative;left:8px;top:4px;' />";
			pawn[1] = "<img src='pieces/piece01.png' class='piece' style='width:24px;height:32px; position:relative;left:8px;top:4px;' />";
			var knight = new Array(2);
			knight[0] = "<img src='pieces/piece12.png' class='piece' style='width:32px;height:32px; position:relative;left:3px;top:4px;'/>";
			knight[1] = "<img src='pieces/piece02.png' class='piece' style='width:32px;height:32px; position:relative;left:3px;top:4px;'/>";
			var bishop = new Array(2);
			bishop[0] = "<img src='pieces/piece13.png' class='piece' style='width:30px;height:32px; position:relative;left:3px;top:4px;' />";
			bishop[1] = "<img src='pieces/piece03.png' class='piece' style='width:30px;height:32px; position:relative;left:3px;top:4px;' />";
			var rook = new Array(2);
			rook[0] = "<img src='pieces/piece14.png' class='piece' style='width:27px;height:32px; position:relative;left:5px;top:4px;'/>";
			rook[1] = "<img src='pieces/piece04.png' class='piece' style='width:27px;height:32px; position:relative;left:5px;top:4px;'/>";
			var queen = new Array(2);
			queen[0] = "<img src='pieces/piece15.png' class='piece' style='width:32px;height:30px; position:relative;left:3px;top:4px;'/>";
			queen[1] = "<img src='pieces/piece05.png' class='piece' style='width:32px;height:30px; position:relative;left:3px;top:4px;'/>";
			var king = new Array(2);
			king[0] = "<img src='pieces/piece16.png' class='piece' style='width:32px;height:32px; position:relative;left:2px;top:4px;'/>";
			king[1] = "<img src='pieces/piece06.png' class='piece' style='width:32px;height:32px; position:relative;left:2px;top:4px;'/>";

			function idFromIndex(i) {
				var rank = Math.floor(i/8)+1;
				var file = (Math.floor(i%8)+1);
				var idName = String.fromCharCode(96+file) + rank;
				return idName;
			}

			function clearBoard() {
				for(i=0;i<64;i++) {
					document.getElementById(idFromIndex(i)).innerHTML = "";
				}
			}

			function setNewBoard() {
				setBoard(startingFEN);
			}

			var pieces = {
				'P': pawn[0], 'p': pawn[1],
				'K': king[0], 'k': king[1],
				'R': rook[0], 'r': rook[1],
				'N': knight[0], 'n': knight[1],
				'B': bishop[0], 'b': bishop[1],
				'Q': queen[0], 'q': queen[1]
			};
			
			function setBoard(FEN) {
				var row = 7;
				var col = 0;
				for (var pos=0; FEN.charAt(pos) != " "; pos++) {
					var char = FEN.charAt(pos);
					if( char >= '0' && char <= '9') {
						for(var i=0; i < parseInt(char); i++) {
							var square = (8*row) + col+i;
							document.getElementById(idFromIndex(square)).innerHTML = "";
						}
						col+=parseInt(char);

					} else if (char == "/") {
						row--;
						col = 0;
					} else {
						var square = (8*row) + col;
						document.getElementById(idFromIndex(square)).innerHTML = pieces[char];
						col++;
					}
				}
			}

		</script>
		<script>

		/* ********************************************************************************

			GRAPHS:
		
		******************************************************************************** */

		    google.setOnLoadCallback(drawCharts);

		    var graph_width = 800;
			var graph_height = 100;

		    function drawCharts() {
		    	drawScoreChart();
		    	drawTimeChart();
		    	drawDepthChart();
		    	drawTable();
		    }

		    var timeChart;
		    function drawTimeChart() {
				var timechartDiv = document.getElementById('time_chart');
				var data = google.visualization.arrayToDataTable(times);
				var options = {
					curveType: 'function',
					width: graph_width,
					height: graph_height,
					chartArea: {width: '100%', height: '100%'},
					backgroundColor: 'black',
					legend: {position: 'none'},
					colors: [time_color[0],time_color[1]],
					vAxes: {
					  0: {title: 'Time', textStyle: {color: '999'}},
					},
					hAxis: {textPosition: 'in', textStyle: {color: '999'}, gridlines: {count: 0}}, 
					vAxis: {textPosition: 'in', gridlines: {color: time_grid}},
				};
				timeChart = new google.visualization.LineChart(timechartDiv);
				google.visualization.events.addListener(timeChart, 'select', function () {
			        var s = timeChart.getSelection();
			        if (s[0] != null) {
			        	var ply = ((s[0].row) * 2) + (s[0].column-1);
			        	selectPly(ply);
			    	}
	    		});
				timeChart.draw(data, options);
			}

			var depthChart;
			function drawDepthChart() {
				var depthchartDiv = document.getElementById('depth_chart');
				var data = google.visualization.arrayToDataTable(depths);
				var options = {
					curveType: 'function',
					width: graph_width,
					height: graph_height,
					chartArea: {width: '100%', height: '100%'},
					backgroundColor: 'black',
					legend: {position: 'none'},
					colors: [depth_color[0],depth_color[1]],
					hAxis: {textPosition: 'in', textStyle: {color: '#999'}, gridlines: {count: 0}},
					vAxes: {
				      0: {textPosition: 'none'},
				      1: {},
				    },
				    series: { 
		              	0: {targetAxisIndex: 1},
		              	1: {targetAxisIndex: 1}
		            },
					vAxis: {textPosition: 'in', textStyle: {color: '#999'}, gridlines: {color: depth_grid}},
				};
				depthChart = new google.visualization.LineChart(depthchartDiv);
				google.visualization.events.addListener(depthChart, 'select', function () {
			        var s = depthChart.getSelection();
			        if (s[0] != null) {
			        	var ply = ((s[0].row) * 2) + (s[0].column-1);
			        	selectPly(ply);
			    	}
	    		});
				depthChart.draw(data, options);
			}

			var scoreChart;
			function drawScoreChart() {
				var data = google.visualization.arrayToDataTable(scores);
				var options = {
					width: graph_width,
					height: graph_height,
					chartArea: {width: '100%', height: '100%'},
					backgroundColor: 'black',
					legend: {position: 'none'},
					colors: [score_color[0],score_color[1]],
					hAxis: {textPosition: 'none', gridlines: {count: 0} },
					vAxis: {textPosition: 'in', textStyle: {color: '#999'}, gridlines: {color: score_grid}},
				};
				scoreChart = new google.visualization.ColumnChart(document.getElementById('score_chart'));
				google.visualization.events.addListener(scoreChart, 'select', function () {
			        var s = scoreChart.getSelection();
			        if (s[0] != null) {
			        	var ply = ((s[0].row) * 2) + (s[0].column-1);
			        	selectPly(ply);
			    	}
	    		});
				scoreChart.draw(data, options);
			}

			var table;
			function drawTable() {
		        var data = google.visualization.arrayToDataTable(move_table_data);
		        var cssClassNamesObj = {
		        	headerRow: 'thClass',
		        	tableRow: 'trClass',
		        	oddTableRow: 'trOddClass',
		        	selectedTableRow: 'trSelectedClass',
		        	hoverTableRow: 'trHoverClass',
		        	tableCell: 'cellClass',
		        	headerCell: 'tdHeaderClass'
				};
				var options = {
					width: 444,
					height: 350,
					showRowNumber: false,
					allowHtml: true,
					sort: 'disable',
					cssClassNames: cssClassNamesObj
				};
		        table = new google.visualization.Table(document.getElementById('move_table'));
		        google.visualization.events.addListener(table, 'select', function () {
			        var s = table.getSelection();
			        if (s[0] != null) {
			        	selectPly(s[0].row);
			    	}
	    		});
		        table.draw(data, options);
			}

			function selectPly(number) {
				setBoard(fens[number+1]);
				var data_row = parseInt(number / 2);
				var data_col = 2;
				if( number % 2 == 0 ) {
					data_col = 1;
				}
				depthChart.setSelection( [{row: data_row, column: data_col} ] );
				timeChart.setSelection( [{row: data_row, column: data_col} ] );
				table.setSelection( [ {row: number } ] );
			}

		</script>
		
	</head>
	<body>
		<div id="time_chart"></div>
		<div id="depth_chart"></div>
		<div width="800px" height="350px" style="width:800px;height:350px;position:relative;">
			<div id="board_container" style="float:left;">
				<div id="board">
					<script>
						for(i=0;i<64;i++) {
							var rank = Math.floor(i/8)+1;
							var file = Math.floor(i%8)+1;
							var className = "dark_square";
							if((i%2 == 1 && rank%2==1)||(i%2 == 0 && rank%2==0)) {className = "light_square";}
							var b = Math.floor(i/8)*40;
							var l = Math.floor(i%8)*40;
							var idName = String.fromCharCode(96+file) + rank.toString();
							document.write("<div class='"+className+"' id='"+idName+"' style='position:absolute;left:" + l + "px;bottom:" + b+ "px;'>"+idName+"</div>");
						}
					</script>
				</div>
	        </div>
	        <div id="move_table" style="float:right;"></div>
    	</div>
		<div id="score_chart"></div>
		<div id="timeline"></div>
		<div id="debug"></div>
		<script>
			setNewBoard();
		</script>
	</body>
</html>