<html>
	<head>
		<title>Game Dashboard</title>
		<script> var title = "Game Analysis"; var eventTitle = "{{ .Event }}"; </script>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script>
			google.load('visualization', '1.0', {packages: ['line', 'corechart', 'bar', 'table']});
		</script>
		<link href="resources/style.css" rel="stylesheet" type="text/css">
		<style>
			#board_movelist_container {
				width:800px;height:350px;position:relative;
			}
			#board_container {
				width: 352px; height: 350px; position: relative; background-color: #333946; border: #535863 solid 1px; margin-right: 8px;}
			#board {
				width: 336px;height:336px;position:absolute;left: 15px;top:0px;}
			.dark_square {
				width:40px;height:40px;border:black solid 1px; background-color:gray;  }
			.light_square {
				width:40px;height:40px;border:black solid 1px; background-color: white;   }
			#time_chart {
				margin-bottom:8px;
			}
			#depth_chart {
				margin-bottom:8px;
			}
			#score_chart {
				margin-top:8px;
			}
			#game_info {
				width: 100%;
				text-align: center;
				margin-bottom: 10px;
			}
			#game_info td {
				width: 17%;
			}
			.blackplayer {
				color: #999;
				
			}
			.whiteplayer {
				color: white;
			}
			.black_time {
				color: #7CBC2D;
			}
			.black_score {
				color: #993CF3;
			}
			.black_depth {
				color: #e89800;
			}
			
			
			#round_nav_bar {
				width: 100%;
				text-align: center;
				margin-top: 10px;
			}
			#round_nav_bar a {
				font-size: 75%;
			}
		</style>
		<script src="resources/graphs.js"></script>
		<script>
			var startingFEN = "rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1";
			var fens = [
				{{ range $i, $v := .History }} "{{$v}}",
				{{ end }}				
			];
			var game_data = [    
				['Ply', 'Move', 'Score', 'Time', 'Depth', 'PV Changes', 'Lowerbounds', 'Upperbounds'],
				{{ range $i, $v := .MoveList }}{{ $analysis := (index $.AnalysisList $i) }} [{{$i}}, "{{$v}}",{{ $analysis.Score }},{{ $analysis.Time }},{{ $analysis.Depth }}, {{ $analysis.PvChanges }}, {{ $analysis.Lowerbounds }}, {{ $analysis.Upperbounds }}],
				{{ end }}
			];

		/* ********************************************************************************

			POPULATE DATA VARIABLES:
		
		******************************************************************************** */

			var SCORE_BOUND = 400;
			
			var max_score=game_data[1][2];
			var max_time=game_data[1][3];
			var max_depth=game_data[1][4];

			var times =  [ ['Move#', 'White Time',  'Black Time'] ];
			var depths = [ ['Move#', 'White Depth', 'Black Depth'] ];
			var scores = [ ['Move#', "White Score", 'Black Score'] ];
			
			var j = 1;
			for( var i = 1; i < game_data.length-1; i+=2 ) {
				if(-game_data[i][2] > max_score) { max_score = -game_data[i][2]; }
				if(game_data[i+1][2] > max_score) { max_score = game_data[i+1][2]; }
				if(game_data[i][3] > max_time) { max_time = game_data[i][3]; }
				if(game_data[i+1][3] > max_time) { max_time = game_data[i+1][3]; }
				if(game_data[i][4] > max_depth) { max_depth = game_data[i][4]; }
				if(game_data[i+1][4] > max_depth) { max_depth = game_data[i+1][4]; }

				times.push( [ j, game_data[i][3]/1000, game_data[i+1][3]/1000 ]);
				depths.push( [ j, game_data[i][4], game_data[i+1][4] ]);
				scores.push( [ j, game_data[i][2], game_data[i+1][2] ]);
				j++;
			}
			var move_table_data = [    
				 ['#', 'Move', 'Score', 'Time', 'Depth', '&Delta;PV', '|&#8592;', '&#8594;|']
			];
			for( var i = 1; i < game_data.length; i++ ) {
				var number = game_data[i][0]/2 +1;
				var move = game_data[i][1];
				var pv_changes = game_data[i][5];
				var lowerbounds = game_data[i][6];
				var upperbounds = game_data[i][7];
				var player = 0;
				if(number%1 == 0.5) {
					player = 1;
					number="";
					move = "..." + move;
				}
				var style = "text-shadow: 1px 1px 4px #000000;";
				var bounded_score = game_data[i][2];
				if ( bounded_score > SCORE_BOUND ) { bounded_score = SCORE_BOUND; }
				if ( bounded_score < -SCORE_BOUND ) { bounded_score = -SCORE_BOUND; }
				var score_width = ( bounded_score / SCORE_BOUND ) * 45 ;
				var score_pos = 'position:relative;left:45%;width:'+ score_width +'%;';
				if ( bounded_score < 0 ) {
					score_pos = 'position:relative;left:'+(45+score_width)+'%;width:'+ -score_width +'%;';
				}
				var score_div = '<div style="'+style+score_pos+'background:'+score_color[player] +';">'+game_data[i][2]+'</div>';
				var time_div = '<div style="'+style+'width:'+ ( (game_data[i][3]/(max_time*1.25))*100 ) +'%;background:'+time_color[player] +';">'+game_data[i][3]+'</div>';
				var depth_div = '<div style="'+style+'width:'+ ( (game_data[i][4]/(max_depth*1.25))*100 ) +'%;background:'+depth_color[player] +';">'+game_data[i][4]+'</div>';
				move_table_data.push([number,move,score_div,time_div,depth_div, pv_changes, lowerbounds, upperbounds]);
			}

		</script>
		<script src="resources/board.js"></script>
		
		
	</head>
	<body>
		<div id="main">
			{{ template "_header.html" . }}
			{{ $event := .Event }}
			<div id="content">
				<h3>Round {{ .Round }}</h3>
					
				<table id="game_info">
					<tr class="trClass">
						<th class="thClass" colspan="2" >Player</th>
						<td class="tdClass" colspan="2" ><span class="whiteplayer">{{ (index .Player 0).Name }}</span> <script>document.write(["(Winner)","",""][{{ .Result }}]);</script></td>
						<td class="tdClass" colspan="2" ><span class="blackplayer">{{ (index .Player 1).Name }}</span> <script>document.write(["","(Winner)",""][{{ .Result }}]);</script></td>
					</tr>
					<tr class="trClass">
						<th class="thClass" title="Average time spent per move.">Ave. Time/Move</th><th class="thClass"  title="Count of how many times the engine searched deeper than oponent."># Times Searched Longer</th>
						<td class="tdClass white_time">{{ .AveTimePerMove 0 }}</td><td class="tdClass white_time">{{ .TimesSearchedLonger 0 }}</td>
						<td class="tdClass black_time">{{ .AveTimePerMove 1 }}</td><td class="tdClass black_time">{{ .TimesSearchedLonger 1 }}</td>
					</tr>
					<tr class="trClass">
						<th class="thClass" title="Average depth reached per move.">Ave. Depth</th><th class="thClass"  title="Count of how many times the engine searched deeper than oponent."># Times Searched Deeper</th>
						<td class="tdClass white_depth">{{ .AveDepth 0 }}</td><td class="tdClass white_depth">{{ .TimesSearchedDeeper 0 }}</td>
						<td class="tdClass black_depth">{{ .AveDepth 1 }}</td><td class="tdClass black_depth">{{ .TimesSearchedDeeper 1 }}</td>
					</tr>
				</table>
				<div id="time_chart"></div>
				<div id="depth_chart"></div>
				<div id="board_movelist_container">
					<div id="board_container" style="float:left;">
						<div id="board">
							<script>
								for(i=0;i<64;i++) {
									var rank = Math.floor(i/8)+1;
									var file = Math.floor(i%8)+1;
									var className = "dark_square";
									if((i%2 == 1 && rank%2==1)||(i%2 == 0 && rank%2==0)) {className = "light_square";}
									var b = Math.floor(i/8)*40;
									var l = Math.floor(i%8)*40;
									var idName = String.fromCharCode(96+file) + rank.toString();
									document.write("<div class='"+className+"' id='"+idName+"' style='position:absolute;left:" + l + "px;bottom:" + b+ "px;'>"+idName+"</div>");
								}
							</script>
						</div>
			        </div>
			        <div id="move_table" style="float:right;"></div>
		    	</div>
				<div id="score_chart"></div>
				<div id="timeline"></div>
				<div id="debug"></div>
				<table id="round_nav_bar">
					<tr>
						<td>
						{{ if gt .Round 1 }}<script>
							var prev_round = {{ .Round }} - 1;
							document.write('<a href="view?display=game&round='+ prev_round + '">&lt;&lt; Previous Round</a>');
						</script>{{ end }}
						</td>
						<td><a href="logs/{{ $event }} round {{ .Round }}.log">View Log</a></td>
						<td>
						<script>
							var next_round = {{ .Round }} + 1;
							document.write('<a href="view?display=game&round='+ next_round + '">Next Round &gt;&gt;</a>');
						</script>
						</td>
					</tr>
				</table>
				<script>
					setNewBoard();
				</script>
			</div>
		</div>
		{{ template "_footer.html" . }}
	</body>
</html>